# Lecture Notes Repository Gitignore
.notes
all_notes.md
cheatsheet*
*.cheatsheet
*.hook
idea*.md
*.ig
ig.*
*[-.]ig.*
*[-.]pic.*
*[-.]pre.*
*[-.]post.*

# LibreOffice lockfiles
.~lock.*.od?#
.~lock.*.docx#
.~lock.*.xlsx#
.~lock.*.pptx#

# C/C++ cruft
main
tags
cscope.*
*.[od]

# Java junk
*.class
.gradle
build
*.jar

# Python paraphernalia
*.pyc
__pycache__

# Crash trash
*.core
